<!DOCTYPE html>
<html lang="en">
	<head><% include partials/page/head.ejs %></head>
	<body>
		<% include partials/page/header.ejs %>
		<main>
			[Book display]
		</main>
		<aside class="sidebar">
			[Category display]
		</aside>
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefaults.ejs %>
	</body>
</html>
